<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.dao.StudentDao">

    <insert id="save" parameterType="com.demo.model.Student" keyProperty="studentNum" useGeneratedKeys="true">
    insert into student(studentId , studentName , createTime) values(#{studentId} , #{studentName} , now())
   </insert>

    <select id="read" parameterType="int" resultType="com.demo.model.Student">
        select * from student where studentNum = #{studentNum}
    </select>

    <select id="readById" parameterType="string" resultType="com.demo.model.Student">
        select * from student where studentId = #{studentId}
    </select>

    <select id="list" parameterType="com.demo.dto.StudentQuery" resultType="com.demo.model.Student">
        select * from student
        <where>
            <if test="studentName != null">
                and studentName like CONCAT('%',#{studentName},'%')
            </if>
        </where>
    </select>

    <update id="update" parameterType="com.demo.model.Student">
        update student
        set
            studentName = #{studentName},
            studentId = #{studentId}
        where
            studentNum = #{studentNum}
    </update>

    <delete id="delete" parameterType="int">
      delete from student where studentNum = #{studentNum}
    </delete>


</mapper>
