<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.dao.StudentClazzDao">

    <insert id="save" parameterType="com.demo.model.StudentClazz">
    insert into student_clazz(studentNum , clazzNum ,term , createTime) values(#{studentNum} , #{clazzNum} ,#{term} , now())
   </insert>

    <update id="update" parameterType="com.demo.model.StudentClazz">
        update student_clazz set
                score = #{score}
        where studentNum = #{studentNum} and clazzNum = #{clazzNum}
    </update>


    <select id="read" resultType="com.demo.model.StudentClazz">
        select * from student_clazz
        where studentNum = #{studentNum}
                and clazzNum = #{clazzNum}
    </select>


    <select id="list" parameterType="com.demo.dto.StudentClazzQuery" resultType="com.demo.model.StudentClazz">
        select * from student_clazz
        <where>
            <if test="studentNum != null">
                and studentNum = #{studentNum}
            </if>
            <if test="term != null">
                and term = #{term}
            </if>
        </where>
    </select>


    <delete id="delete">
      delete from student_clazz where studentNum = #{studentNum}
                and clazzNum = #{clazzNum}
    </delete>
</mapper>
