<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.dao.TeacherDao">


    <insert id="save" parameterType="com.demo.model.Teacher" keyProperty="teacherNumber" useGeneratedKeys="true">
    insert into teacher(teacherId , teacherName , teacherLevel , createTime) values(#{teacherId} , #{teacherName} , #{teacherLevel} , now())
   </insert>

    <select id="read" parameterType="int" resultType="com.demo.model.Teacher">
        select * from teacher where teacherNumber = #{teacherNumber}
    </select>

    <select id="readById" parameterType="string" resultType="com.demo.model.Teacher">
        select * from teacher where teacherId = #{teacherId}
    </select>

    <select id="list" parameterType="com.demo.dto.TeacherQuery" resultType="com.demo.model.Teacher">
        select * from teacher
        <where>
            <if test="teacherName != null">
                and teacherName like CONCAT('%',#{teacherName},'%')
            </if>
            <if test="teacherLevel != null">
                and teacherLevel = #{teacherLevel}
            </if>
        </where>
    </select>


    <update id="update" parameterType="com.demo.model.Teacher">
        update teacher
       set
                teacherName = #{teacherName},
                teacherLevel = #{teacherLevel},
                teacherId = #{teacherId}
        where teacherNumber = #{teacherNumber}
    </update>

    <delete id="delete" parameterType="int">
      delete from teacher where teacherNumber = #{teacherNumber}
    </delete>

</mapper>
