<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.TeacherMapper">


    <insert id="save" parameterType="addTeacherDTO">
    insert into teacher(teacherNumber , teacherName , teacherLevel , createTime) values(#{teacherNumber} , #{teacherName} , #{teacherLevel} , #{createTime})
   </insert>

    <select id="get" parameterType="string" resultType="teacher">
      select * from teacher where teacherNumber = #{teacherNumber}
    </select>

    <select id="list" parameterType="listTeacherDTO" resultType="teacher">
        select * from teacher
        <where>
            <if test="teacherName != null">
                and teacherName like CONCAT('%',#{teacherName},'%')
            </if>
            <if test="teacherLevel != null">
                and teacherLevel = #{teacherLevel}
            </if>
        </where>
        <if test="offset != null and pageSize != null">
            limit #{offset},#{pageSize}
        </if>
    </select>

    <select id="count" parameterType="listTeacherDTO" resultType="int">
        select count(teacherNumber) from teacher
        <where>
            <if test="teacherName != null">
                and teacherName like CONCAT('%',#{teacherName},'%')
            </if>
            <if test="teacherLevel != null">
                and teacherLevel = #{teacherLevel}
            </if>
        </where>
    </select>

    <update id="update" parameterType="updateTeacherDTO">
      update teacher
       <set>
        <if test="teacherName != null">
          teacherName = #{teacherName},
        </if>
        <if test="teacherLevel != null">
          teacherLevel = #{teacherLevel},
        </if>
       </set>
       where teacherNumber = #{teacherNumber}
    </update>

    <delete id="delete" parameterType="string">
      delete from teacher where teacherNumber = #{teacherNumber}
    </delete>

</mapper>
