<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.dao.TeacherClazzDao">


    <insert id="save" parameterType="com.demo.model.TeacherClazz">
    insert into teacher_clazz(teacherNum , clazzNum  , createTime ) values( #{teacherNum} , #{clazzNum}  ,now())
   </insert>
    <update id="update" parameterType="com.demo.model.TeacherClazz">
        update teacher_clazz
        set
            term = #{term}
        where teacherNum = #{teacherNum} and clazzNum = #{clazzNum}
    </update>


    <select id="list" parameterType="com.demo.dto.TeacherClazzQuery" resultType="com.demo.model.TeacherClazz">
        select * from teacher_clazz
        <where>
            <if test="teacherNum != null">
                teacherNum = #{teacherNum}
            </if>
        </where>
    </select>

    <select id="listClazz" parameterType="int" resultType="com.demo.model.ClazzTermReport">
        SELECT
        b.term,
        max(score) maxScore,
        min(score) minScore,
        AVG(score) avgScore,
        a.clazzNum
        FROM
        teacher_clazz a
        inner JOIN student_clazz b ON a.clazzNum = b.clazzNum
        <where>
            <if test="teacherNum != null">
                and teacherNum = #{teacherNum}
            </if>
        </where>
        GROUP BY
        term,
        clazzNum
    </select>


    <select id="listTeacherByTeacherLevel" resultType="com.demo.model.TeacherClazzReport">
        SELECT
            a.teacherNum,
            max(score) maxScore,
            min(score) minScore,
            AVG(score) avgScore,
            a.clazzNum
        FROM
            teacher_clazz a
        inner JOIN student_clazz b ON a.clazzNum = b.clazzNum
        GROUP BY
            teacherNum,
            clazzNum
    </select>

    <delete id="delete" parameterType="int">
      delete from teacher_clazz where teacherNum = #{teacherNum} and clazzNum = #{clazzNum}
    </delete>


</mapper>
